@font-face {
	font-family: 'Fraunces';
	src: url('/fonts/Fraunces-Black.ttf') format('truetype');
	font-style: normal;
	font-weight: 900;
	font-display: swap;
}

body {
	font-family: 'Fraunces', serif;
	font-optical-sizing: auto;
	font-weight: 900;
	font-size: 30px;
	background: #f3eddf;
	color: #34352d;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	min-height: 100svh;
}

* {
	box-sizing: border-box;
}

h1 {
	font-size: 60px;
	font-weight: normal;
	margin: 20px 0 0 0;
	padding: 0;
}

a, a:link, a:visited {
	color: inherit;
	text-decoration: underline;
}

a:hover {
	color: inherit;
	text-decoration: underline;
}

.wrapper {
	width: 20em;
	max-width: 100%;
	padding: 1em;
}

.wrapper *:first-child {
	margin-top: 0;
}
