@font-face {
	font-family: 'Playfair Display';
	src: url('/fonts/PlayfairDisplay-VariableFont_wght.ttf') format('truetype-variations');
	font-weight: 100 1000;
}

body {
	font-family: "Playfair Display", serif;
	font-size: 30px;
	background-color: #fff;
	color: #333;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;

	transition: background-color, color 1000ms linear
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #111;
		color: #eee;
	}
  }

* {
	box-sizing: border-box;
}

h1 {
	font-size: 60px;
	font-weight: normal;
	margin: 20px 0 0 0;
	padding: 0;
}

a, a:link, a:visited {
	color: inherit;
	text-decoration: underline;
}

a:hover {
	color: inherit;
	text-decoration: underline;
}

.wrapper {
	width: 20em;
	padding: 1em;
}

.wrapper *:first-child {
	margin-top: 0;
}
